<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
  <div class="row align-items-center px-3">
    <div class="col-lg-6 text-center text-lg-left">
      <h4 class="text-white mb-4 mt-5 mt-lg-0">School Management Platform</h4>
      <h3 class="display-4 font-weight-bold text-white">
        Simplify Private School Administration
      </h3>
      <p class="text-white mb-4">
        Manage students, teachers, courses, and evaluations with ease and
        efficiency. A platform designed to empower admins, teachers, students,
        and parents.
      </p>
      <a routerLink="/about" class="btn btn-secondary mt-1 py-3 px-5">Learn More</a>
    </div>
    <div class="col-lg-6 text-center text-lg-right">
      <img class="img-fluid mt-5" src="assets/template/img/header.png" alt="" />
    </div>
  </div>
</div>