<app-banner [t]="title"></app-banner>

<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center pb-2">
      <p class="section-title px-5">
        <span class="px-2">Create Your Account</span>
      </p>
      <h1 class="mb-4">Sign Up</h1>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 mb-5">
        <div class="contact-form">
          <form [formGroup]="registerForm" (ngSubmit)="signup()" enctype="multipart/form-data">
            <!-- First Name -->
            <div class="control-group mb-2">
              <input
                type="text"
                class="form-control"
                placeholder="Your First Name"
                formControlName="firstName"
              />
              <div
                *ngIf="
                  f.firstName.invalid &&
                  (f.firstName.touched || f.firstName.dirty)
                "
              >
                <small
                  class="text-danger d-block"
                  *ngIf="f.firstName.errors?.['required']"
                >
                  <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                  Please enter your firstname
                </small>
                <small
                  class="text-danger d-block"
                  *ngIf="f.firstName.errors?.['minlength']"
                >
                  <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                  Minimum 3 characters
                </small>
              </div>
            </div>

            <!-- Last Name -->
            <div class="control-group mb-2">
              <input
                type="text"
                class="form-control"
                placeholder="Your Last Name"
                formControlName="lastName"
              />
              <div
                *ngIf="
                  f.lastName.invalid && (f.lastName.touched || f.lastName.dirty)
                "
              >
                <small
                  class="text-danger d-block"
                  *ngIf="f.lastName.errors?.['required']"
                >
                  <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                  Please enter your lastname
                </small>
                <small
                  class="text-danger d-block"
                  *ngIf="f.lastName.errors?.['minlength']"
                >
                  <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                  Minimum 3 characters
                </small>
              </div>
            </div>

            <!-- Email -->
            <div class="control-group mb-2">
              <input
                type="email"
                class="form-control"
                placeholder="Your Email"
                formControlName="email"
              />
              <div
                *ngIf="f.email.invalid && (f.email.touched || f.email.dirty)"
              >
                <small
                  class="text-danger d-block"
                  *ngIf="f.email.errors?.['required']"
                >
                  <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                  Please enter your email
                </small>
                <small
                  class="text-danger d-block"
                  *ngIf="f.email.errors?.['email']"
                >
                  <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                  Invalid email format
                </small>
              </div>
            </div>
            <div *ngIf="emailErrMsg">
              <small>
                <i class="fas fa-exclamation-triangle text-warning mr-2">{{
                  emailErrMsg
                }}</i>
              </small>
            </div>

            <!-- Phone -->
            <div class="control-group mb-2">
              <input
                type="tel"
                class="form-control"
                placeholder="Your Phone Number"
                formControlName="phone"
              />
              <div
                *ngIf="f.phone.invalid && (f.phone.touched || f.phone.dirty)"
              >
                <small
                  class="text-danger d-block"
                  *ngIf="f.phone.errors?.['required']"
                >
                  <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                  Please enter your phone
                </small>
                <small
                  class="text-danger d-block"
                  *ngIf="f.phone.errors?.['pattern']"
                >
                  <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                  Only digits allowed
                </small>
                <small
                  class="text-danger d-block"
                  *ngIf="f.phone.errors?.['minlength']"
                >
                  <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                  Minimum 8 digits
                </small>
              </div>
            </div>

            <!-- Address -->
            <div class="control-group mb-2">
              <input
                type="text"
                class="form-control"
                placeholder="Your Address"
                formControlName="address"
              />
              <div
                *ngIf="
                  f.address.invalid && (f.address.touched || f.address.dirty)
                "
              >
                <small
                  class="text-danger d-block"
                  *ngIf="f.address.errors?.['required']"
                >
                  <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                  Please enter your address
                </small>
                <small
                  class="text-danger d-block"
                  *ngIf="f.address.errors?.['minlength']"
                >
                  <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                  Minimum 3 characters
                </small>
              </div>
            </div>

            <!-- Password -->
            <div class="control-group mb-2">
              <input
                type="password"
                class="form-control"
                placeholder="Your Password"
                formControlName="password"
              />
              <div
                *ngIf="
                  f.password.invalid && (f.password.touched || f.password.dirty)
                "
              >
                <small
                  class="text-danger d-block"
                  *ngIf="f.password.errors?.['required']"
                >
                  <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                  Please enter your password
                </small>
                <small
                  class="text-danger d-block"
                  *ngIf="f.password.errors?.['pattern']"
                >
                  <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                  Password must be 6–12 characters long and include only letters
                  and numbers.
                </small>
              </div>
            </div>

            <!-- Parent Fields-->
            <div *ngIf="role == 'parent'">
              <div class="control-group mb-2">
                <input
                  type="tel"
                  class="form-control"
                  placeholder="Your child phone"
                  formControlName="childPhone"
                />
                <div
                  *ngIf="
                    f.childPhone.invalid &&
                    (f.childPhone.touched || f.childPhone.dirty)
                  "
                >
                  <small
                    class="text-danger d-block"
                    *ngIf="f.childPhone.errors?.['required']"
                  >
                    <i
                      class="fas fa-exclamation-triangle text-warning mr-2"
                    ></i>
                    Please enter your child phone
                  </small>
                  <small
                    class="text-danger d-block"
                    *ngIf="f.childPhone.errors?.['pattern']"
                  >
                    <i
                      class="fas fa-exclamation-triangle text-warning mr-2"
                    ></i>
                    Only digits allowed
                  </small>
                  <small
                    class="text-danger d-block"
                    *ngIf="f.childPhone.errors?.['minlength']"
                  >
                    <i
                      class="fas fa-exclamation-triangle text-warning mr-2"
                    ></i>
                    Minimum 8 digits
                  </small>
                </div>
              </div>
              <div *ngIf="childPhoneErrMsg">
                <small>
                  <i class="fas fa-exclamation-triangle text-danger mr-2">{{
                    childPhoneErrMsg
                  }}</i>
                </small>
              </div>
            </div>

            <!-- Teacher Fields -->
            <div *ngIf="role == 'teacher'">
              <div class="form-group">
                <label for="speciality">Speciality</label>
                <select
                  id="speciality"
                  class="form-control"
                  formControlName="speciality"
                >
                  <option value="" disabled>Choose Speciality</option>
                  <option [value]="s" *ngFor="let s of specialities">
                    {{ s?.name }}
                  </option>
                </select>
                <small
                  *ngIf="
                    f.speciality.invalid &&
                    (f.speciality.touched || f.speciality.dirty)
                  "
                  class="text-danger d-block"
                >
                  <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                  Please select speciality
                </small>
              </div>
              <div class="mb-3">
                   <label for="formFileT" class="form-label">Your CV</label>
                   <input class="form-control" type="file" id="formFileT" (change)="onFileSelected($event)">
              </div>
            </div>

            <!-- Student Fields-->
            <div *ngIf="role == 'student'">
              <div class="mb-3">
                   <label for="formFile" class="form-label">Your Photo</label>
                   <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
              </div>
            </div>

            <!-- Submit Button -->
            <div class="text-center">
              <button
                type="submit"
                class="btn btn-primary mt-3"
                
              >
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
