
    <div class="card border-0 bg-light shadow-sm pb-2 course-card">
      <img
        class="card-img-top mb-2"
        src="assets/template/img/class-x.jpg"
        alt=""
      />
      <div class="card-body text-center">
        <h4 class="card-title">Name</h4>
        <p class="card-text">Description</p>
      </div>
      <div class="card-footer bg-transparent py-4 px-5">
        <p class="text-center"><i class="fas fa-clock mr-2 text-primary"></i><strong>Duration</strong> Hours</p>
      </div>
    </div>
