
    <!-- Navbar Start -->
    <div *ngIf="!isAdminDashboard() && !isTeacherDashboard() && !isStudentDashboard() && !isParentDashboard()">
        <app-navbar></app-navbar>
    </div>
    <!-- Navbar End -->
    <router-outlet></router-outlet>
    <!-- Footer Start -->
    <div *ngIf="!isAdminDashboard() && !isTeacherDashboard() && !isStudentDashboard() && !isParentDashboard()">
        <app-footer></app-footer>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <app-back-to-top></app-back-to-top>